# Default project and binary exludes go here
# Using an editor that is not listed yet? Feel free to
# add the config here!
.vscode/
.idea/
.vs/
*.DotSettings.user
*.csproj.DotSettings
bin/
obj/

# Exclude the config.json containing runtime secrets
# that should not appear in the commit history
/config.json

# Exlude the data storage file
/storage.json
